{% extends "base.html" %}
{% block content %}
	<a href="/blog/newpost"><h4>add post</h4></a>
	{% for entry in entries %}
		<div class="entry">
			<div class="entry-heading">
				<div class="entry-subject">
					<a href="/blog/{{entry.key.id()}}">{{entry.subject}}</a>
				</div>
				<div class="entry-created">{{entry.created.strftime('%c')}}</div>
			</div>
			<pre class="entry-body">{{entry.content}}</pre>
		</div>
	{% endfor %}
	<div class="age">
		queried {{last_query.seconds}} seconds ago
	</div>
{% endblock %}
	