{% extends "base.html" %}
{% block content %}

	<div class="blog-header">
        <h1 class="blog-title">Geoff's Wiki</h1>
        <p class="lead blog-description">
        	The "information" wiki.
        </p>
    </div>

	<div class="row">
		<div class="col-sm-12 blog-main">
          <div class="blog-post">
          	<table class="table table-striped">
              <tbody>
              {% set i = 0 %}
          		{% for h in history %}
          			<tr>
	            		<td>{{h.created.strftime('%c')}}</td>
	            		<td>{{h.content}}</td>
	            		<td><a href="{{url_for('wikipage',page_tag=page_tag)}}?v={{i}}">view</a></td>
	            		<td><a href="{{url_for('edit',page_tag=page_tag)}}?v={{i}}">edit</a></td>
	            	</tr>
              {% set i = i + 1 %}
            	{% endfor %}
            </tbody>
          	</table>
          </div>
        </div> 
    </div>

{% endblock %}